# NEXT_PUBLIC_API_BASE_URL=http://localhost:9080
# AUTH_SERVICE_URL=http://localhost:9081
# MDM_SERVICE_URL=http://localhost:9083
# IIOT_SERVICE_URL=http://localhost:9085
# LICENSE_SERVICE_URL=http://localhost:8082
# AUDIT_SERVICE_URL=http://localhost:8084



NEXT_PUBLIC_API_BASE_URL=http://3.24.80.154
API_GATEWAY_URL=http://3.24.80.154


AUTH_SERVICE_URL=http://3.24.80.154
MDM_SERVICE_URL=http://3.24.80.154
IIOT_SERVICE_URL=http://3.24.80.154
LICENSE_SERVICE_URL=http://3.24.80.154
AUDIT_SERVICE_URL=http://3.24.80.154


#37017
#mongodb://admin:Admin123!@3.24.80.154:37017/adavis_platform?authSource=admin&directConnection=true